# please follow the google c++ style guide
# see https://google.github.io/styleguide/cppguide.html
Language: Cpp
BasedOnStyle: Google

DerivePointerAlignment: false
PointerAlignment: Right

Standard: Cpp11
Cpp11BracedListStyle: true
